{% extends "layout.html" %}
{% block info %}
<br>
<form method="post">
  <fieldset>
    <legend>Add URL:</legend>
    <label>Link:</label>
    <input type="text" name="url" placeholder="Enter URL address"><br>
    <label>Author:</label>
    <input type="text" name="author" placeholder="Enter your name"><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>

{% if alert %}
<script type="text/javascript">
  alert("New item is added");
</script>
{% endif %}
{% endblock %}
