{% extends "layout.html" %}
<style type="text/css">
	.pagination-page-info {
	    padding: .6em;
	    padding-left: 0;
	    width: 40em;
	    margin: .5em;
	    margin-left: 0;
	    font-size: 12px;
	}
	.pagination-page-info b {
	    color: black;
	    background: #6aa6ed;
	    padding-left: 2px;
	    padding: .1em .25em;
	    font-size: 150%;
	}
</style>
{% block info3 %}
<div>
{% if user %}
	 <h4>Welcome, {{user}}</h4>
	 <h6><a href="{{url_for('logout')}}">Sign out</a></h6>
{% else %}
	 {% if restore %}
		 <h4>Password reset</h4>
	 {% endif %}
	 <p style="color: red;">{{error}}{{email}}</p>
	 <form class="form-inline" name="auth_form" method="post" onsubmit="onsubmitform();">
	 {% if restore %}
	 	 	<input type="password" class="form-control" name="pass" placeholder="Password" required=""><br>
		 	<input class="btn btn-danger" type="submit" value="Reset"/>
	 {% else %}
	 	<input type="text" class="form-control" placeholder="Login" name="username" value="{% if data %}{{data.username}}{% endif %}" required=""><br>
	 	<input type="password" class="form-control" name="pass" placeholder="Password" value="{% if data %}{{data.pass}}{% endif %}" required=""><br>
	 	{% if email %}
	 	<input type="email" class="form-control" name="email" placeholder="Email" value="" required><br>
	 	{% endif %}
	 	<p style="font-size: 0.7em; text-align: right;">
	 		<a href="#" onclick="forgot();">Forgot password?</a>
	 	</p>
	 	<p>
		 	<input class="btn btn-success" name="auth" type="submit" onclick="document.pressed=this.value" value="Sign in"/>
		 	<input class="btn btn-default" name="auth" type="submit" onclick="document.pressed=this.value" value="Sign up"/>
	 	</p>
	 {% endif %}
	 </form>

{% endif %}
 </div>
{% endblock %}

{% block info2 %}
	<div style = "background-color:white">
	<form class="form-inline" method="post" >
	  <fieldset>
	    <legend>Добавить ссылку</legend>
	    <p style="color: red;">{{error_url}}</p>
	    <input type="text" class="form-control" name="url" placeholder="Введите URL адрес"><br><br>
	    <input type="submit" value="Добавить" class="btn btn-danger">
	  </fieldset>
	</form>
	</div>
{% endblock %}
{% block info %}
		<p>
		{{pagination.info}}
		<table border="0" width="100%" style="text-align: left;">
		    {% for doc in links %}
				<tr>
					<td>{{loop.index + (pagination.page - 1) * 10}}</td>
					<td>
						<a style = "color:red" href="{{doc.url}}" target="_blank">{{doc.title}}</a>
					</td>
					<td>{{doc.author}}</td>
					<td>{{doc.add_time | ctime}}</td>
					<!-- <td>{{doc.rating}}</td> -->
					<!-- <td><a href="{{url_for('upvote', m_id=doc._id)}}">Upvote</a></td> -->
					<td style = 'height:45px; width:75px;'>
						<button class="btn btn-warning" onclick="voteUp('{{doc._id}}')">Плюс</button>
					</td>
				</tr>
			{% endfor %}
		</table>
		{{pagination.links}}

		<script type="text/javascript">
			function reqListener() {  
			  var data = JSON.parse(this.responseText);  
			  console.log(data);  
			}

			function reqError(err) {  
			  console.log('Fetch Error :-S', err);  
			}

			function voteUp (doc_id) {
				// fetch('/vote/'+doc_id, {
				// 	method: 'get'
				// }).then(function(response) {
				// 	console.log(response);
				// 	console.log(response.url.split('login'));
				// 	if (response.url.split('login').length > 1) {
				// 		alert('Please log in to vote up');
				// 	}
				// }).catch(function(err) {
				// 	// Error :(
				// });		
				var oReq = new XMLHttpRequest();
				oReq.onload = reqListener;
				oReq.onerror = reqError;
				oReq.open('get', '/vote/'+doc_id, true);
				oReq.send();
			}

			function onsubmitform () {
				if (document.pressed == "Sign in") {
					document.auth_form.action = "{{url_for('login')}}";
				} else if (document.pressed == "Sign up") {
					document.auth_form.action = "{{url_for('register')}}";
				} 
				return true;
			}

			function forgot () {
				$('form[name="auth_form"]').empty();
				$('form[name="auth_form"]').append('<input type="email" class="form-control" name="email" placeholder="Email" required/><br/><br/><input type="submit" class="btn btn-danger" onclick="document.auth_form.action=\'{{url_for('forgot')}}\'" value="Restore"/> ');
			}

		</script>

{% endblock %}