{% extends "layout.html" %}
{% block info %}
		<p>
		<table border="2">
		<tr>
		<th>Link</th>
		<th>Author</th>
		<th>Current Time</th>
		<th>Votes</th>
		<th>Upvote</th>
		</tr>
		    {% for doc in data %}
				<tr>
					<td><a href="{{doc.url}}">{{doc.url}}</a></td>
					<td>{{doc.author}}</td>
					<td><{{doc.current_time}}</td>
					<td>{{doc.votes}}</td>
					<!-- <td><a href="{{url_for('upvote', m_id=doc._id)}}">Upvote</a></td> -->
					<td>
						<button onclick="voteUp('{{doc._id}}')">Vote</button>
					</td>
				</tr>
			{% endfor %}	
		</table>

		<script type="text/javascript">
			function voteUp (doc_id) {
				fetch('/vote/'+doc_id, {
					method: 'get'
				}).then(function(response) {
					console.log(response);
				}).catch(function(err) {
					// Error :(
				});
			}
		</script>

{% endblock %}