{% extends "layout.html" %}
<style type="text/css">
	.pagination-page-info {
	    padding: .6em;
	    padding-left: 0;
	    width: 40em;
	    margin: .5em;
	    margin-left: 0;
	    font-size: 12px;
	}
	.pagination-page-info b {
	    color: black;
	    background: #6aa6ed;
	    padding-left: 2px;
	    padding: .1em .25em;
	    font-size: 150%;
	}
</style>
{% block info2 %}
	<div style = "width:200px;height:200px;background-color:white">
	<form class="form-inline" method="post" >
	  <fieldset>
	    <legend>Добавить ссылку</legend>
	    <p style="color: red;">{{error}}</p>
	    <label>Link:</label>
	    <input type="text" name="url" placeholder="Введити URL адрес"><br><br>
	    <input type="submit" value="Добавить" class="btn btn-danger">
	  </fieldset>
	</form>
	</div>
{% endblock %}
{% block info %}
		<p>
		{{pagination.info}}
		<table border="2">
		<tr>
		<th>Нумерация</th>
		<th>Ссылка</th>
		<th>Автор</th>
		<th>Время добавления</th>
		<!-- <th>Рейтинг</th> -->
		<th>Апвоут</th>
		</tr>
		    {% for doc in links %}
				<tr>
					<td>{{loop.index + (pagination.page - 1) * 10}}</td>
					<td><a style = "color:red" href="{{doc.url}}">{{doc.title}}</a></td>
					<td>{{doc.author}}</td>
					<td>{{doc.add_time | ctime}}</td>
					<!-- <td>{{doc.rating}}</td> -->
					<!-- <td><a href="{{url_for('upvote', m_id=doc._id)}}">Upvote</a></td> -->
					<td style = 'height:45px; width:75px;'>
						<button class="btn btn-warning" onclick="voteUp('{{doc._id}}')">Upvote</button>
					</td>
				</tr>
			{% endfor %}
		</table>
		{{pagination.links}}

		<script type="text/javascript">
			function reqListener() {  
			  var data = JSON.parse(this.responseText);  
			  console.log(data);  
			}

			function reqError(err) {  
			  console.log('Fetch Error :-S', err);  
			}

			function voteUp (doc_id) {
				// fetch('/vote/'+doc_id, {
				// 	method: 'get'
				// }).then(function(response) {
				// 	console.log(response);
				// 	console.log(response.url.split('login'));
				// 	if (response.url.split('login').length > 1) {
				// 		alert('Please log in to vote up');
				// 	}
				// }).catch(function(err) {
				// 	// Error :(
				// });		
				var oReq = new XMLHttpRequest();
				oReq.onload = reqListener;
				oReq.onerror = reqError;
				oReq.open('get', '/vote/'+doc_id, true);
				oReq.send();
			}
		</script>

{% endblock %}