{% extends "layout.html" %}
{% block info %}
<div class = "container">
 <br>
 <h4>Please Login:</h4>
 <p style="color: red;">{{error}}</p>
 <form class="form-inline" method="post">
 	<input type="text" class="form-control" placeholder="Username" name="username" value="{% if data %}{{data.username}}{% endif %}">
 	<input type="password" class="form-control" name="pass" value="{% if data %}{{data.pass}}{% endif %}">
 	<input class="btn btn-default" type="submit" value="Login">
 </form>

 </div>
{% endblock %}